// Fonts:
@font-face {
    font-family: OpenSans;
    src: url(../../fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(../../fonts/OpenSans/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Semibold;
    src: url(../../fonts/OpenSans/OpenSans-Semibold.ttf);
}

$lightgrey: #EEE;
$lightgrey-underline: #DDD;
$darkgrey: #222;

// Media Queries:
$desktop: 1920px;
$laptop: 1600px;
$tablet-lg: 1200px;
$tablet-sm: 768px;
$phone-lg: 480px;
$phone-sm: 320px;

@mixin break($size) {
	@media screen and (max-width: $size) {
		@content;
	}
}